openapi: 3.0.0
info:
  description: "The Freepik API is your gateway to a vast collection of high-quality\
    \ digital resources for your applications and projects. As a leading platform,\
    \ it offers a wide range of graphics, including vectors, photos, illustrations,\
    \ icons, PSD templates, and more, all curated by talented designers from around\
    \ the world."
  title: Freepik API
  version: 1.0.0
servers:
- description: B2B API Production V1
  url: https://api.freepik.com
security:
- apiKey: []
paths:
  /v1/ai/text-to-image:
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      parameters:
      - description: "The `Content-Type` header must be set to `application/json`\
          \ to indicate that the payload is formatted as JSON.\nIf a different `Content-Type`\
          \ is provided, the payload will be ignored, and the request will proceed\
          \ without \nprocessing the body.\n"
        example: application/json
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              all-params:
                $ref: '#/components/examples/request-tti-all-params'
              required-params:
                $ref: '#/components/examples/request-tti-required-params'
              portrait-image-size:
                $ref: '#/components/examples/request-tti-portrait-image-size'
              styling-params:
                $ref: '#/components/examples/request-tti-styling-params'
            schema:
              $ref: '#/components/schemas/request-content'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_200_response'
          description: "OK - The request has succeeded, and the images generated from\
            \ the text are returned."
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Create image from text - Classic fast
      tags:
      - text-to-image
  /v1/ai/image-upscaler:
    get:
      description: Get the status of all upscaling tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: '#/components/examples/200-tasks-list'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_get_200_response'
          description: OK - Get the status of all upscaling tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get the status of all upscaling tasks
      tags:
      - image-upscaler
    post:
      description: |
        This asynchronous endpoint enables image upscaling using advanced AI algorithms. Upon submission, it returns a unique `task_id` which can be used to track the progress of the upscaling process. For real-time production use, include the optional `webhook_url` parameter to receive an automated notification once the task has been completed. This allows for seamless integration and efficient task management without the need for continuous polling.
      parameters:
      - description: "The `Content-Type` header must be set to `application/json`\
          \ to indicate that the payload is formatted as JSON.\nIf a different `Content-Type`\
          \ is provided, the payload will be ignored, and the request will proceed\
          \ without \nprocessing the body.\n"
        example: application/json
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              all-params:
                $ref: '#/components/examples/request-image-upscale-all-params'
              required-params:
                $ref: '#/components/examples/request-image-upscale-required-params'
            schema:
              $ref: '#/components/schemas/image-upscale-request-content'
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: '#/components/examples/200-task-in-progress'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_post_200_response'
          description: OK - The request has succeeded and the upscaling process has
            started. The result will be notified by a Webhook call
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Upscale an image with Magnific
      tags:
      - image-upscaler
  /v1/ai/image-upscaler/{task-id}:
    get:
      description: Get the status of the upscaling task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: '#/components/examples/200-task-completed'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_post_200_response'
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get the status of the upscaling task
      tags:
      - image-upscaler
  /v1/ai/image-relight:
    get:
      description: Get the status of all relight tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: '#/components/examples/200-tasks-list'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_get_200_response'
          description: OK - Get the status of all relight tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get the status of all relight tasks
      tags:
      - image-relight
    post:
      description: Relight an image using AI. This endpoint accepts a variety of parameters
        to customize the generated images.
      parameters:
      - description: "The `Content-Type` header must be set to `application/json`\
          \ to indicate that the payload is formatted as JSON.\nIf a different `Content-Type`\
          \ is provided, the payload will be ignored, and the request will proceed\
          \ without \nprocessing the body.\n"
        example: application/json
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              all-params:
                $ref: '#/components/examples/request-image-relight-all-params'
              required-params:
                $ref: '#/components/examples/request-image-relight-required-params'
            schema:
              $ref: '#/components/schemas/relight-request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_post_200_response'
          description: OK - The request has succeeded and the relight process has
            started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Relight an image
      tags:
      - image-relight
  /v1/ai/image-relight/{task-id}:
    get:
      description: Get the status of the relight task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: '#/components/examples/200-task-completed'
                success - in progress task:
                  $ref: '#/components/examples/200-task-in-progress'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_post_200_response'
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get the status of the relight task
      tags:
      - image-relight
  /v1/ai/mystic:
    get:
      description: Get the status of all Mystic tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: '#/components/examples/200-tasks-list'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_get_200_response'
          description: OK - Get the status of all Mystic tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get the status of all Mystic tasks
      tags:
      - mystic
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      parameters:
      - description: "The `Content-Type` header must be set to `application/json`\
          \ to indicate that the payload is formatted as JSON.\nIf a different `Content-Type`\
          \ is provided, the payload will be ignored, and the request will proceed\
          \ without \nprocessing the body.\n"
        example: application/json
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mystic-request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: '#/components/examples/200-task-in-progress'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_post_200_response'
          description: OK - The request has succeeded and the Mystic process has started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Create image from text - Mystic
      tags:
      - mystic
  /v1/ai/mystic/{task-id}:
    get:
      description: Get the status of the Mystic task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: '#/components/examples/200-mystic-task-completed'
                success - in progress task:
                  $ref: '#/components/examples/200-task-in-progress'
              schema:
                $ref: '#/components/schemas/_v1_ai_image_upscaler_post_200_response'
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get the status of the Mystic task
      tags:
      - mystic
  /v1/ai/classifier/image:
    post:
      description: "Accepts an image file as input and analyzes it to determine the\
        \ probability that the image was generated by artificial intelligence, providing\
        \ a confidence score."
      parameters:
      - description: "The `Content-Type` header must be set to `application/json`\
          \ to indicate that the payload is formatted as JSON.\nIf a different `Content-Type`\
          \ is provided, the payload will be ignored, and the request will proceed\
          \ without \nprocessing the body.\n"
        example: application/json
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              image-base64:
                $ref: '#/components/examples/request-classifier-image-base64'
              image-url:
                $ref: '#/components/examples/request-classifier-image-url'
            schema:
              $ref: '#/components/schemas/classifier-request'
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  $ref: '#/components/examples/200-classifier'
              schema:
                $ref: '#/components/schemas/_v1_ai_classifier_image_post_200_response'
          description: "OK - The request has succeeded, and the image has been classified."
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Analyzes an image to determine its likelihood of being AI-generated
      tags:
      - classifier
  /v1/ai/loras:
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  $ref: '#/components/examples/200-loras'
              schema:
                $ref: '#/components/schemas/_v1_ai_loras_get_200_response'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      tags:
      - loras
  /v1/resources:
    get:
      description: "Retrieve a list of resources based on various filter criteria\
        \ such as orientation, content type, license, and more."
      parameters:
      - description: |
          Specifies the search query language using the ISO 639-1 (2-letter
          language code) and the ISO 3166-1 (2-letter country code) for language variants.
          The API will use "en-US" as a default language for processing if a code is not
          provided, or does not exist.
        example: en-US
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
      - description: Page number. It must be greater than 0 and less than or equal
          to 100.
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Limit results per page. It must be greater than 0.
        example: 100
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: |
          Specifies the order in which search results are returned. The available options allow you to prioritize results based on different criteria:
           - `relevance`: Prioritizes results that are most relevant to the search query.
           - `recent`: Sorts results by the most recent updates.
        example: recent
        in: query
        name: order
        required: false
        schema:
          default: relevance
          enum:
          - relevance
          - recent
          type: string
      - description: "Search term. If only term comes, it is searched for term, if\
          \ only slug comes, it is searched for slug and if both come, it is searched\
          \ for slug"
        example: nature
        in: query
        name: term
        required: false
        schema:
          type: string
      - description: "Filters results to only include resources with a landscape orientation.\
          \ Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[orientation][landscape]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources with a portrait orientation.\
          \ Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[orientation][portrait]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources with a square orientation.\
          \ Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[orientation][square]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources with a panoramic orientation.\
          \ Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[orientation][panoramic]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources of type photo. Set\
          \ to 1 to enable, 0 to disable."
        in: query
        name: "filters[content_type][photo]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources of type PSD (Photoshop\
          \ Document). Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[content_type][psd]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources of type vector. Set\
          \ to 1 to enable, 0 to disable."
        in: query
        name: "filters[content_type][vector]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources with a freemium license.\
          \ Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[license][freemium]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include resources with a premium license.\
          \ Set to 1 to enable, 0 to disable."
        in: query
        name: "filters[license][premium]"
        schema:
          default: 0
          type: number
      - description: Filter by included people
        example: 1
        in: query
        name: "filters[people][include]"
        schema:
          default: 0
          type: number
      - description: Filter by excluded people
        example: 1
        in: query
        name: "filters[people][exclude]"
        schema:
          default: 0
          type: number
      - description: Filter by number of people
        example: 2
        in: query
        name: "filters[people][number]"
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - more_than_three
          type: string
      - description: Filter by age of the people
        example: child
        in: query
        name: "filters[people][age]"
        schema:
          enum:
          - infant
          - child
          - teen
          - young-adult
          - adult
          - senior
          - elder
          type: string
      - description: Filter by gender of the people
        example: female
        in: query
        name: "filters[people][gender]"
        schema:
          enum:
          - male
          - female
          type: string
      - description: Filter by ethnicity of the people
        example: black
        in: query
        name: "filters[people][ethnicity]"
        schema:
          enum:
          - south-asian
          - middle-eastern
          - east-asian
          - black
          - hispanic
          - indian
          - white
          - multiracial
          type: string
      - description: Filters results based on the time period in which the resources
          were added.
        in: query
        name: "filters[period]"
        schema:
          enum:
          - last-month
          - last-quarter
          - last-semester
          - last-year
          type: string
      - description: Filters results by the predominant color in the resources.
        in: query
        name: "filters[color]"
        schema:
          enum:
          - black
          - blue
          - gray
          - green
          - orange
          - red
          - white
          - yellow
          - purple
          - cyan
          - pink
          type: string
      - description: "Filters results to include resources by a specific author, identified\
          \ by their author ID."
        in: query
        name: "filters[author]"
        schema:
          default: 0
          type: number
      - description: "Excludes AI-generated images from the results. Set to 1 to exclude,\
          \ 0 to include."
        in: query
        name: "filters[ai-generated][excluded]"
        schema:
          default: 0
          type: number
      - description: "Filters results to only include AI-generated images. Set to\
          \ 1 to include only AI-generated images, 0 to include all images."
        in: query
        name: "filters[ai-generated][only]"
        schema:
          default: 0
          type: number
      - description: File type for vectors
        in: query
        name: "filters[vector][type]"
        schema:
          enum:
          - jpg
          - ai
          - eps
          - svg
          type: string
      - description: "Style type for vectors, ignored if content_type exists and it\
          \ is not vector"
        example: 3d
        in: query
        name: "filters[vector][style]"
        schema:
          enum:
          - watercolor
          - flat
          - cartoon
          - geometric
          - gradient
          - isometric
          - 3d
          - hand-drawn
          type: string
      - description: File type for psd
        in: query
        name: "filters[psd][type]"
        schema:
          enum:
          - jpg
          - psd
          type: string
      - description: "Filter by list of ids. This filter is incompatible with any\
          \ other filters. In case of using this filter, the rest of filters will\
          \ be ignored."
        example: "1,2,3,4,5"
        in: query
        name: "filters[ids]"
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/200-b2b-full-list-pagination'
              schema:
                $ref: '#/components/schemas/_v1_resources_get_200_response'
          description: Ok Response
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "403":
          content:
            application/json:
              examples:
                user_not_authorized:
                  summary: User has not privileges to access some resource
                  value:
                    message: User is not authorized to access this resource
                user_not_owner:
                  summary: Collection author id is different from current user's id
                  value:
                    message: User is not owner of requested collection
                item_is_premium:
                  summary: The user cannot download this item because it is premium
                  value:
                    message: The user cannot download this item because it is premium
                creator_not_authorized:
                  summary: Creator has not privileges to access some resource
                  value:
                    message: Creator is not authorized to access this resource
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Forbidden - The client does not have permission to access the
            requested resource.
        "404":
          content:
            application/json:
              examples:
                ai_resource_not_found:
                  summary: AI resource with provided id does not exist
                  value:
                    message: AI resource not found
                collection_not_found:
                  summary: Collection with provided id does not exist
                  value:
                    message: Collection not found
                resource_not_found:
                  summary: Resource with provided id does not exist
                  value:
                    message: Resource not found
                resources_not_found:
                  summary: Resources not found
                  value:
                    message: Resources not found
                user_not_found:
                  summary: User with provided id does not exist
                  value:
                    message: User not found
                video_not_found:
                  summary: Video with provided id does not exist
                  value:
                    message: Video not found
                video_assets_not_found:
                  summary: Video with provided id has not associated assets
                  value:
                    message: Video not found
                icon_not_found:
                  summary: Icon with provided id does not exist
                  value:
                    message: Icon not found
                author_not_found:
                  summary: Author with provided id does not exist
                  value:
                    message: Author not found
                developer_not_found:
                  summary: Developer with provided email does not exist
                  value:
                    message: Developer not found
                country_not_found:
                  summary: Country with provided code does not exist
                  value:
                    message: Country not found
                generic_not_found:
                  summary: Not Found
                  value:
                    message: Not found
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Not Found - The server can not find the requested resource.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Get all resources
      tags:
      - Resources
  /v1/resources/{resource-id}:
    get:
      description: "Retrieve the detailed information of a specific resource by its\
        \ ID. This endpoint supports multiple resource types including PSD, vector,\
        \ photo, and AI-generated content."
      parameters:
      - description: "Photo, video or PSD resource ID"
        example: 30955
        in: path
        name: resource-id
        required: true
        schema:
          type: string
      - description: |
          Specifies the search query language using the ISO 639-1 (2-letter
          language code) and the ISO 3166-1 (2-letter country code) for language variants.
          The API will use "en-US" as a default language for processing if a code is not
          provided, or does not exist.
        example: en-US
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                detail_photo:
                  $ref: '#/components/examples/200-detail-photo-b2b'
                detail_vector:
                  $ref: '#/components/examples/200-detail-vector-b2b'
                detail_psd:
                  $ref: '#/components/examples/200-detail-psd-b2b'
                detail_ai:
                  $ref: '#/components/examples/200-detail-ai-b2b'
              schema:
                $ref: '#/components/schemas/_v1_resources__resource_id__get_200_response'
          description: OK Response
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "404":
          content:
            application/json:
              examples:
                ai_resource_not_found:
                  summary: AI resource with provided id does not exist
                  value:
                    message: AI resource not found
                collection_not_found:
                  summary: Collection with provided id does not exist
                  value:
                    message: Collection not found
                resource_not_found:
                  summary: Resource with provided id does not exist
                  value:
                    message: Resource not found
                resources_not_found:
                  summary: Resources not found
                  value:
                    message: Resources not found
                user_not_found:
                  summary: User with provided id does not exist
                  value:
                    message: User not found
                video_not_found:
                  summary: Video with provided id does not exist
                  value:
                    message: Video not found
                video_assets_not_found:
                  summary: Video with provided id has not associated assets
                  value:
                    message: Video not found
                icon_not_found:
                  summary: Icon with provided id does not exist
                  value:
                    message: Icon not found
                author_not_found:
                  summary: Author with provided id does not exist
                  value:
                    message: Author not found
                developer_not_found:
                  summary: Developer with provided email does not exist
                  value:
                    message: Developer not found
                country_not_found:
                  summary: Country with provided code does not exist
                  value:
                    message: Country not found
                generic_not_found:
                  summary: Not Found
                  value:
                    message: Not found
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Not Found - The server can not find the requested resource.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: "Get the detail of a resource (psd, vector or photo)"
      tags:
      - Resources
  /v1/resources/{resource-id}/download:
    get:
      description: "Download a specific resource by providing the resource ID. This\
        \ endpoint supports downloading various types of resources including vectors,\
        \ PSDs, photos, and AI-generated content."
      parameters:
      - description: "Photo, video or PSD resource ID"
        example: 30955
        in: path
        name: resource-id
        required: true
        schema:
          type: integer
      - description: |
          Specifies the search query language using the ISO 639-1 (2-letter
          language code) and the ISO 3166-1 (2-letter country code) for language variants.
          The API will use "en-US" as a default language for processing if a code is not
          provided, or does not exist.
        example: en-US
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
      - description: "Resizes the photo to a specified size while maintaining aspect\
          \ ratio. Accepts a pixel value (100px to 2000px) or \nkeywords small(1000px),\
          \ medium(1500px), large(2000px), original corresponding to standard website\
          \ sizes.\nThe size depends on the image orientation, the longest side of\
          \ the image will be resized to the specified size.\nIf not specified, the\
          \ highest resolution is provided. Applicable only to photos.\n"
        example: 2000px
        in: query
        name: image_size
        required: false
        schema:
          $ref: '#/components/schemas/_v1_resources__resource_id__download_get_image_size_parameter'
      responses:
        "200":
          content:
            application/json:
              examples:
                download_vector_or_psd:
                  $ref: '#/components/examples/200-download-vector-or-psd'
                download_photo:
                  $ref: '#/components/examples/200-download-photo'
                download_ai:
                  $ref: '#/components/examples/200-download-ai-resource'
              schema:
                $ref: '#/components/schemas/_v1_resources__resource_id__download_get_200_response'
          description: OK Response
        "400":
          content:
            application/json:
              examples:
                incorrect_image_size:
                  $ref: '#/components/examples/400-incorrect-image-size-b2b'
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "403":
          content:
            application/json:
              examples:
                user_not_authorized:
                  summary: User has not privileges to access some resource
                  value:
                    message: User is not authorized to access this resource
                user_not_owner:
                  summary: Collection author id is different from current user's id
                  value:
                    message: User is not owner of requested collection
                item_is_premium:
                  summary: The user cannot download this item because it is premium
                  value:
                    message: The user cannot download this item because it is premium
                creator_not_authorized:
                  summary: Creator has not privileges to access some resource
                  value:
                    message: Creator is not authorized to access this resource
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Forbidden - The client does not have permission to access the
            requested resource.
        "404":
          content:
            application/json:
              examples:
                ai_resource_not_found:
                  summary: AI resource with provided id does not exist
                  value:
                    message: AI resource not found
                collection_not_found:
                  summary: Collection with provided id does not exist
                  value:
                    message: Collection not found
                resource_not_found:
                  summary: Resource with provided id does not exist
                  value:
                    message: Resource not found
                resources_not_found:
                  summary: Resources not found
                  value:
                    message: Resources not found
                user_not_found:
                  summary: User with provided id does not exist
                  value:
                    message: User not found
                video_not_found:
                  summary: Video with provided id does not exist
                  value:
                    message: Video not found
                video_assets_not_found:
                  summary: Video with provided id has not associated assets
                  value:
                    message: Video not found
                icon_not_found:
                  summary: Icon with provided id does not exist
                  value:
                    message: Icon not found
                author_not_found:
                  summary: Author with provided id does not exist
                  value:
                    message: Author not found
                developer_not_found:
                  summary: Developer with provided email does not exist
                  value:
                    message: Developer not found
                country_not_found:
                  summary: Country with provided code does not exist
                  value:
                    message: Country not found
                generic_not_found:
                  summary: Not Found
                  value:
                    message: Not found
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Not Found - The server can not find the requested resource.
        "429":
          content:
            application/json:
              examples:
                generic:
                  summary: Generic message for 429 errors
                  value:
                    message: Too many requests
                download_limit_reached:
                  summary: The download limits has been reached.
                  value:
                    message: The user can't download more items because the download
                      limits has been reached.
                edit_limit_reached:
                  summary: Free user icon edit limits has been reached.
                  value:
                    message: Limit for free users reached.
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Too Many Requests - The client has sent too many requests in
            a given amount of time.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_503_response'
          description: Service Unavailable
      summary: Download a resource
      tags:
      - Resources
  /v1/resources/{resource-id}/download/{resource-format}:
    get:
      description: Retrieve a resource by specifying both the resource ID and the
        format. This endpoint allows for precise downloading of resources in the desired
        format.
      parameters:
      - description: "Photo, video or PSD resource ID"
        example: 30955
        in: path
        name: resource-id
        required: true
        schema:
          type: integer
      - description: Resource format
        in: path
        name: resource-format
        required: true
        schema:
          enum:
          - psd
          - ai
          - eps
          - atn
          - fonts
          - resources
          - png
          - jpg
          - 3d-render
          - svg
          - mockup
          example: svg
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/download_list'
          description: OK
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "403":
          content:
            application/json:
              examples:
                user_not_authorized:
                  summary: User has not privileges to access some resource
                  value:
                    message: User is not authorized to access this resource
                user_not_owner:
                  summary: Collection author id is different from current user's id
                  value:
                    message: User is not owner of requested collection
                item_is_premium:
                  summary: The user cannot download this item because it is premium
                  value:
                    message: The user cannot download this item because it is premium
                creator_not_authorized:
                  summary: Creator has not privileges to access some resource
                  value:
                    message: Creator is not authorized to access this resource
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Forbidden - The client does not have permission to access the
            requested resource.
        "404":
          content:
            application/json:
              examples:
                ai_resource_not_found:
                  summary: AI resource with provided id does not exist
                  value:
                    message: AI resource not found
                collection_not_found:
                  summary: Collection with provided id does not exist
                  value:
                    message: Collection not found
                resource_not_found:
                  summary: Resource with provided id does not exist
                  value:
                    message: Resource not found
                resources_not_found:
                  summary: Resources not found
                  value:
                    message: Resources not found
                user_not_found:
                  summary: User with provided id does not exist
                  value:
                    message: User not found
                video_not_found:
                  summary: Video with provided id does not exist
                  value:
                    message: Video not found
                video_assets_not_found:
                  summary: Video with provided id has not associated assets
                  value:
                    message: Video not found
                icon_not_found:
                  summary: Icon with provided id does not exist
                  value:
                    message: Icon not found
                author_not_found:
                  summary: Author with provided id does not exist
                  value:
                    message: Author not found
                developer_not_found:
                  summary: Developer with provided email does not exist
                  value:
                    message: Developer not found
                country_not_found:
                  summary: Country with provided code does not exist
                  value:
                    message: Country not found
                generic_not_found:
                  summary: Not Found
                  value:
                    message: Not found
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Not Found - The server can not find the requested resource.
        "429":
          content:
            application/json:
              examples:
                generic:
                  summary: Generic message for 429 errors
                  value:
                    message: Too many requests
                download_limit_reached:
                  summary: The download limits has been reached.
                  value:
                    message: The user can't download more items because the download
                      limits has been reached.
                edit_limit_reached:
                  summary: Free user icon edit limits has been reached.
                  value:
                    message: Limit for free users reached.
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Too Many Requests - The client has sent too many requests in
            a given amount of time.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
      summary: Download resource by id and format
      tags:
      - Resources
  /v1/icons:
    get:
      description: Get a list of icons based on the provided parameters and ordering
        criteria.
      parameters:
      - description: |
          Specifies the search query language using the ISO 639-1 (2-letter
          language code) and the ISO 3166-1 (2-letter country code) for language variants.
          The API will use "en-US" as a default language for processing if a code is not
          provided, or does not exist.
        example: en-US
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
      - description: "Search term. If only term comes, it is searched for term, if\
          \ only slug comes, it is searched for slug and if both come, it is searched\
          \ for slug"
        example: nature
        in: query
        name: term
        required: false
        schema:
          type: string
      - description: Search by slug
        example: dog
        in: query
        name: slug
        required: false
        schema:
          type: string
      - description: Page number. It must be greater than 0.
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Results per page. It must be greater than 0.
        example: 100
        in: query
        name: per_page
        schema:
          type: integer
      - description: Icon family id.
        example: 30955
        in: query
        name: family-id
        required: false
        schema:
          minimum: 1
          type: integer
      - description: |
          Define order of results.
          - Note: If the term or slug parameter is used, the order will be the similarity of the search.
        example: relevance
        in: query
        name: order
        required: false
        schema:
          default: relevance
          enum:
          - relevance
          - recent
          type: string
      - description: Filter by color.
        in: query
        name: "filters[color]"
        schema:
          enum:
          - gradient
          - solid-black
          - multicolor
          - azure
          - black
          - blue
          - chartreuse
          - cyan
          - gray
          - green
          - orange
          - red
          - rose
          - spring-green
          - violet
          - white
          - yellow
          example: red
          type: string
      - description: Filter by shape.
        example: outline
        in: query
        name: "filters[shape]"
        schema:
          enum:
          - outline
          - fill
          - lineal-color
          - hand-drawn
          type: string
      - description: Filter by period.
        example: all
        in: query
        name: "filters[period]"
        schema:
          enum:
          - three-months
          - six-months
          - one-year
          - all
          type: string
      - description: "Filter by free svg, for free or premium item or all for both"
        example: free
        in: query
        name: "filters[free_svg]"
        schema:
          enum:
          - all
          - free
          - premium
          type: string
      - description: "Size of the thumbnail. \nIf the size is not specified, the API\
          \ will return 128 as a default size.\n"
        example: "128, 512"
        in: query
        name: thumbnail_size
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_icons_get_200_response'
          description: OK Response
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "404":
          content:
            application/json:
              examples:
                ai_resource_not_found:
                  summary: AI resource with provided id does not exist
                  value:
                    message: AI resource not found
                collection_not_found:
                  summary: Collection with provided id does not exist
                  value:
                    message: Collection not found
                resource_not_found:
                  summary: Resource with provided id does not exist
                  value:
                    message: Resource not found
                resources_not_found:
                  summary: Resources not found
                  value:
                    message: Resources not found
                user_not_found:
                  summary: User with provided id does not exist
                  value:
                    message: User not found
                video_not_found:
                  summary: Video with provided id does not exist
                  value:
                    message: Video not found
                video_assets_not_found:
                  summary: Video with provided id has not associated assets
                  value:
                    message: Video not found
                icon_not_found:
                  summary: Icon with provided id does not exist
                  value:
                    message: Icon not found
                author_not_found:
                  summary: Author with provided id does not exist
                  value:
                    message: Author not found
                developer_not_found:
                  summary: Developer with provided email does not exist
                  value:
                    message: Developer not found
                country_not_found:
                  summary: Country with provided code does not exist
                  value:
                    message: Country not found
                generic_not_found:
                  summary: Not Found
                  value:
                    message: Not found
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Not Found - The server can not find the requested resource.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
      summary: Retrieve all icons by specified order
      tags:
      - Icons
  /v1/icons/{id}:
    get:
      description: Get detailed information about a specific icon identified by its
        unique ID.
      parameters:
      - description: |
          Specifies the search query language using the ISO 639-1 (2-letter
          language code) and the ISO 3166-1 (2-letter country code) for language variants.
          The API will use "en-US" as a default language for processing if a code is not
          provided, or does not exist.
        example: en-US
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
      - description: Icon resource ID
        example: 30955
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                example-0:
                  $ref: '#/components/examples/200-icon-detail'
              schema:
                $ref: '#/components/schemas/_v1_icons__id__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "404":
          content:
            application/json:
              examples:
                ai_resource_not_found:
                  summary: AI resource with provided id does not exist
                  value:
                    message: AI resource not found
                collection_not_found:
                  summary: Collection with provided id does not exist
                  value:
                    message: Collection not found
                resource_not_found:
                  summary: Resource with provided id does not exist
                  value:
                    message: Resource not found
                resources_not_found:
                  summary: Resources not found
                  value:
                    message: Resources not found
                user_not_found:
                  summary: User with provided id does not exist
                  value:
                    message: User not found
                video_not_found:
                  summary: Video with provided id does not exist
                  value:
                    message: Video not found
                video_assets_not_found:
                  summary: Video with provided id has not associated assets
                  value:
                    message: Video not found
                icon_not_found:
                  summary: Icon with provided id does not exist
                  value:
                    message: Icon not found
                author_not_found:
                  summary: Author with provided id does not exist
                  value:
                    message: Author not found
                developer_not_found:
                  summary: Developer with provided email does not exist
                  value:
                    message: Developer not found
                country_not_found:
                  summary: Country with provided code does not exist
                  value:
                    message: Country not found
                generic_not_found:
                  summary: Not Found
                  value:
                    message: Not found
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Not Found - The server can not find the requested resource.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_500_response'
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
      summary: Retrieve one icon by its unique ID
      tags:
      - Icons
  /v1/icons/{id}/download:
    get:
      description: Download the specified icon by its unique ID in the requested format
        and size.
      parameters:
      - description: |
          Specifies the search query language using the ISO 639-1 (2-letter
          language code) and the ISO 3166-1 (2-letter country code) for language variants.
          The API will use "en-US" as a default language for processing if a code is not
          provided, or does not exist.
        example: en-US
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
      - description: Icon resource ID
        example: 30955
        in: path
        name: id
        required: true
        schema:
          type: integer
      - description: These are the formats available for download.
        example: svg
        in: query
        name: format
        schema:
          default: png
          enum:
          - svg
          - png
          type: string
      - description: |
          These are the sizes available for png_url formats.
          - Note: Only apply to format png.
        in: query
        name: png_size
        required: false
        schema:
          default: 512
          enum:
          - 512
          - 256
          - 128
          - 64
          - 32
          - 24
          - 16
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-icon-download'
          description: OK
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response_1'
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: '#/components/schemas/_v1_ai_text_to_image_post_400_response'
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "403":
          content:
            application/json:
              examples:
                user_not_authorized:
                  summary: User has not privileges to access some resource
                  value:
                    message: User is not authorized to access this resource
                user_not_owner:
[...]
